<!DOCTYPE html>
<html>
<%- include("head") %>

<body>
  <%- include("title") %>
  <p>message secured here:
    <input type="text" value="<%= url %>" />
  </p>
  <p>hackers can try but they can't get in }:]</p>
</body>

</html>